<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/header.ejs %>
        <div class="container location-list">
            <div class="card">
                <h4 class="card-header"><%= title %></h4>
                <% if (locations.length > 0) { %>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Longitude</th>
                            <th>Latitude</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locations.forEach(function (location, index) { %>
                        <tr>
                            <td><%= (index + 1) %></td>
                            <td><%= location.name %></td>
                            <td><%= location.category %></td>
                            <td><%= location.coord[0] %></td>
                            <td><%= location.coord[1] %></td>
                            <td>
                                <a class="btn btn-sm btn-success" href="/edit/<%= location._id %>">Edit</a>
                                <a class="btn btn-sm btn-danger" href="/delete/<%= location._id %>">Delete</a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                <div class="card-block">
                    <div class="alert alert-warning">No locations created.</div>
                </div>
                <% } %>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </body>
</html>
